<section class="section contact-us-section">
  <div class="container">
    <h2 class="section-title">Contact Us</h2>
    <div class="contact-form-wrapper">
      <p class="contact-us-text">
        Please use the form below to contact us. Enter your name, email, phone,
        and message and we'll get back to you shortly.
      </p>
      <form class="contact-form">
        <label class="contact-form-label">
          <input
            class="contact-form-input"
            name="user-name"
            type="text"
            title="John Jones"
            placeholder="Name"
            required
            pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐ']+"
          />
        </label>

        <label class="contact-form-label">
          <input
            class="contact-form-input"
            name="user-email"
            type="email"
            title="useremail@mail.com"
            placeholder="Email"
            required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9]+./[a-zA-Z]{2,}"
          />
        </label>

        <label class="contact-form-label">
          <input
            class="contact-form-input"
            name="user-phone"
            type="tel"
            placeholder="+380"
            required
          />
        </label>

        <label class="contact-form-label">
          <textarea
            class="contact-form-textarea"
            name="user-comment"
            type="text"
            placeholder="Comment"
          ></textarea>
        </label>
        <button class="contact-form-send-btn" type="submit">Send</button>
      </form>
    </div>

    <picture>
      <source
        srcset="
          ./img/contact/contact-watch-pc@1.webp 1x,
          ./img/contact/contact-watch-pc@2.webp 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/contact/contact-watch-tab@1.webp 1x,
          ./img/contact/contact-watch-tab@2.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/contact/contact-watch-mob@1.webp 1x,
          ./img/contact/contact-watch-mob@2.webp 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="team-list-item-photo"
        src="./img/contact/contact-watch-mob@1.jpg"
        alt="cool watch"
      />
    </picture>
  </div>
</section>
