<header class="header-section">
  <div class="container header-container">
    <a class="header-logo" href="./index.html">watchcharm</a>
    <nav>
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a class="header-menu-link menu-link-active" href="./index.html"
            >Home</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#about">About Us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#catalog">Catalog</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#sale">Sale</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#contact">Contact Us</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="open-menu-btn">
      <svg class="open-menu-icon" aria-label="mobil menu open button">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>

    <ul class="header-social-list">
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg
            class="header-social-icon"
            aria-label="facebook icon"
            width="20"
            height="20"
          >
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg
            class="header-social-icon"
            aria-label="instagram icon"
            width="20"
            height="20"
          >
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg
            class="header-social-icon"
            aria-label="youtube icon"
            width="20"
            height="20"
          >
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
