<section class="section">
  <div class="container">
    <div class="hero-first">
      <div class="hero-third">
        <h1 class="hero-title">
          Welcome to our
          <span class="accent-color">collection</span> of premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-second">
        <picture class="hero-people">
          <source
            type="image/webp"
            srcset="
              ./img/hero/hero-reviewers-pc@1.webp 1x,
              ./img/hero/hero-reviewers-pc@2.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            type="image/jpg"
            srcset="
              ./img/hero/hero-reviewers-pc@1.jpg 1x,
              ./img/hero/hero-reviewers-pc@2.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            type="image/webp"
            srcset="
              ./img/hero/hero-reviewers-tab@1.webp 1x,
              ./img/hero/hero-reviewers-tab@2.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            type="image/jpg"
            srcset="
              ./img/hero/hero-reviewers-tab@1.jpg 1x,
              ./img/hero/hero-reviewers-tab@2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            type="image/webp"
            srcset="
              ./img/hero/hero-reviewers-mob@1.webp 1x,
              ./img/hero/hero-reviewers-mob@2.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            type="image/jpg"
            srcset="
              ./img/hero/hero-reviewers-mob@1.jpg 1x,
              ./img/hero/hero-reviewers-mob@2.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/hero/hero-reviewers-mob@1.jpg"
            alt="hero-reviewers-mob"
          />
        </picture>
        <a class="scroll-down-link" href="#footer">Scroll down </a>
      </div>
    </div>
    <div class="picture">
      <picture class="images">
        <source
          type="image/webp"
          srcset="
            ./img/hero/hero-watch-pc@1.webp 1x,
            ./img/hero/hero-watch-pc@2.webp 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          type="image/jpg"
          srcset="
            ./img/hero/hero-watch-pc@1.jpg 1x,
            ./img/hero/hero-watch-pc@2.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          type="image/webp"
          srcset="
            ./img/hero/hero-watch-tab@1.webp 1x,
            ./img/hero/hero-watch-tab@2.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          type="image/jpg"
          srcset="
            ./img/hero/hero-watch-tab@1.jpg 1x,
            ./img/hero/hero-watch-tab@2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          type="image/webp"
          srcset="
            ./img/hero/hero-watch-mob@1.webp 1x,
            ./img/hero/hero-watch-mob@2.webp 2x
          "
          media="(max-width: 767px)"
        />
        <source
          type="image/jpg"
          srcset="
            ./img/hero/hero-watch-mob@1.jpg 1x,
            ./img/hero/hero-watch-mob@2.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./img/hero/hero-watch-mob@1.jpg " alt="Watch" />
      </picture>
    </div>
  </div>
</section>
