.about-container {
  max-width: 335px;
  margin-bottom: 20px;
  padding: 40px 20px;
  border-radius: 30px;
  background-color: #f3f3f3;
}

.about-title {
  margin-bottom: 28px;
}
.about-text {
  max-width: 295px;
  margin-bottom: 20px;
}
.about-text + .about-text {
  margin-bottom: 40px;
}
.view-catalog-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 48px;
  padding-right: 37px;
  padding-left: 38px;
  border-radius: 16px;
  background-color: #3350e9;
  color: #fbfbfb;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
}

.view-catalog-link:hover,
.view-catalog-link:focus {
  background-color: #1f3cd4;
}

@media screen and (min-width: 768px) {
  .about-container {
    max-width: 704px;
    margin-bottom: 40px;
    padding: 80px 60px;
    border-radius: 50px;
  }
  .about-title {
    margin-bottom: 40px;
  }
  .about-text {
    max-width: 584px;
  }
  .about-text + .about-text {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    display: flex;
    gap: 40px;
  }
  .about-container {
    max-width: 580px;
    margin-bottom: 0px;
  }
  .about-text {
    max-width: 460px;
  }
  .about-text + .about-text {
    margin-bottom: 40px;
  }

  .about-img,
  .about-container {
    position: relative;
    transition: transform 0.5s cubic-bezier(1, -0.2, 0.83, 0.67) 0.4s,
      padding-right 0.5s cubic-bezier(1, -0.2, 0.83, 0.67) 0.4s;
  }
  .about:hover .about-container {
    z-index: 1;
    transform: translateX(285px);
  }
  .about-container:hover + .about-img {
    transform: translateX(-55%);
  }
  .about-img:hover {
    z-index: 2;
    transform: translateY(200px) scale(1.7);
    padding-right: 285px;
  }
}
