.about-container {
  border-radius: 30px;
  max-width: 335px;
  background-color: #f3f3f3;
  padding: 40px 20px;
  margin-bottom: 20px;
}

.about-title {
  margin-bottom: 28px;
}
.about-text {
  max-width: 295px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
.about-text-first {
  margin-bottom: 20px;
}
.about-text-second {
  margin-bottom: 40px;
}
.view-catalog-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 48px;
  padding-left: 38px;
  padding-right: 37px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  background-color: #3350e9;
}

.view-catalog-link:hover,
.view-catalog-link:focus {
  background-color: #1f3cd4;
}
@media screen and (min-width: 768px) {
  .about-container {
    border-radius: 50px;
    max-width: 704px;
    padding: 80px 60px;
    margin-bottom: 40px;
  }
  .about-title {
    margin-bottom: 40px;
  }
  .about-text {
    max-width: 584px;
    font-size: 16px;
    line-height: 1.25;
  }
  .about-text-second {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    display: flex;
    gap: 40px;
  }
  .about-container {
    max-width: 580px;
    margin-bottom: 0px;
  }
  .about-text {
    max-width: 460px;
  }
  .about-text-second {
    margin-bottom: 40px;
  }
}
