.advertisement {
  width: calc(100% - 40px);
  max-width: 335px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 30px;
  background-color: #0c0c0c;
  background-image: url('/img/ad/ad-bg-mob@1.png');
  background-image: -webkit-image-set(url('/img/ad/ad-bg-mob@1.webp') 1x);
  background-image: image-set(url('/img/ad/ad-bg-mob@1.webp') 1x);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .advertisement {
    background-image: url('/img/ad/ad-bg-mob@2.png');
    background-image: -webkit-image-set(url('/img/ad/ad-bg-mob@2.webp') 2x);
    background-image: image-set(url('/img/ad/ad-bg-mob@2.webp') 2x);
  }
}

.advertisement .container {
  padding-right: 28px;
  padding-left: 28px;
}

.advertisement-text {
  max-width: 279px;
  margin-bottom: 28px;
  color: #fbfbfb;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
}

.advertisement-marked-text {
  color: rgba(251, 251, 251, 0.5);
}

.link-ad {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.15);
  background-color: inherit;
}
.link-ad:hover,
.link-ad:focus {
  background-color: #fbfbfb;
  color: inherit;
}

@media only screen and (min-width: 768px) {
  @media (max-width: 1279px) {
    .advertisement {
      background-image: url('/img/ad/ad-bg-tab@1.png');
      background-image: -webkit-image-set(url('/img/ad/ad-bg-tab@1.webp') 1x);
      background-image: image-set(url('/img/ad/ad-bg-tab@1.webp') 1x);
    }
    @media (min-resolution: 192dpi) {
      .advertisement {
        background-image: url('/img/ad/ad-bg-tab@2.png');
        background-image: -webkit-image-set(url('/img/ad/ad-bg-tab@2.webp') 2x);
        background-image: image-set(url('/img/ad/ad-bg-tab@2.webp') 2x);
      }
    }
  }

  .advertisement {
    max-width: 704px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .advertisement .container {
    padding-right: 64px;
    padding-left: 64px;
  }

  .advertisement-text {
    max-width: 576px;
    margin-bottom: 32px;
    font-size: 48px;
    line-height: 0.92;
  }
}

@media only screen and (min-width: 1280px) {
  .advertisement {
    max-width: 1150px;
    padding-top: 83px;
    padding-bottom: 83px;
    background-image: url('/img/ad/ad-bg-pc@1.png');
    background-image: -webkit-image-set(url('/img/ad/ad-bg-pc@1.webp') 1x);
    background-image: image-set(url('/img/ad/ad-bg-pc@1.webp') 1x);
  }
  @media (min-resolution: 192dpi) {
    .advertisement {
      background-image: url('/img/ad/ad-bg-pc@2.png');
      background-image: -webkit-image-set(url('/img/ad/ad-bg-pc@2.webp') 2x);
      background-image: image-set(url('/img/ad/ad-bg-pc@2.webp') 2x);
    }
  }

  .advertisement .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 80px;
    padding-left: 80px;
  }
  .advertisement-text {
    max-width: 690px;
  }
}
