/* gilroy-regular - cyrillic, latin */
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}
/* gilroy-medium - cyrillic, latin */
@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-medium.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}
/* gilroy-semibold - cyrillic, latin */
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-semibold.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

body {
  color: rgba(12, 12, 12, 0.7);
  font-weight: 500;
  font-size: 14px;
  font-family: 'Gilroy', sans-serif;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.section {
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 335px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.section-title {
  color: #0c0c0c;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.25;
  }
  .section {
    margin-bottom: 80px;
  }
  .container {
    max-width: 704px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .section-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }
}

@media (min-width: 1280px) {
  .section {
    margin-bottom: 100px;
  }
  .container {
    max-width: 1150px;
    padding-right: 65px;
    padding-left: 65px;
  }
}

.button {
  min-width: 160px;
  height: 48px;
  border-radius: 16px;
  background-color: #3350e9;
  color: #fbfbfb;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}
.button:hover,
.button:focus {
  outline: 2px solid rgba(51, 80, 233, 0.2);
  background-color: #1f3cd4;
}
