.contact-form-wrapper {
  border-radius: 30px;
  padding: 48px 28px;
  background-color: #f3f3f3;
  margin-bottom: 20px;
  max-width: 335px;
}
.contact-us-text {
  max-width: 279px;
  margin-bottom: 28px;
}

.contact-form-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
  margin-bottom: 18px;
  height: 42px;
  width: 100%;
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
}

.contact-form-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #0c0c0c;
}

.contact-form-input:focus {
  border: 1px solid #3350e9;
}
.contact-form-textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
  margin-bottom: 28px;
  height: 84px;
  width: 100%;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
  background-color: transparent;
}
.contact-form-textarea::placeholder {
  font-size: 14px;
  line-height: 1.29;
  color: #0c0c0c;
}
.contact-form-textarea:focus {
  border: 1px solid #3350e9;
}
.contact-form-send-btn {
  min-width: 134px;
  height: 42px;
  outline: transparent;
  padding: 12px 50px;
}

@media screen and (min-width: 768px) {
  .contact-form-wrapper {
    padding: 50px 122px;
    max-width: 704px;
    margin-bottom: 40px;
  }

  .contact-us-text {
    max-width: 460px;
    margin-bottom: 32px;
  }

  .contact-form-textarea {
    height: 90px;
    margin-bottom: 32px;
  }

  .contact-form-send-btn {
    height: 52px;
    min-width: 160px;
    padding: 17px 63px;
  }
}

/* PC */
@media screen and (min-width: 1280px) {
  .contact-us-container {
    display: flex;
  }
  .contact-form-wrapper {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 580px;
    min-height: 556px;
    margin-right: 40px;
    margin-bottom: 0;
    transition: max-width 500ms linear, margin-right 500ms linear,
      transform 500ms linear;
  }

  .contact-form-wrapper:hover {
    margin-right: 0;
    max-width: 100%;
    transform: translateX(12px);
  }
  .contact-us-photo {
    padding-top: 2.5px;
    transition: width 500ms linear;
  }
  .contact-form-wrapper:hover + .contact-us-photo {
    width: 0.001px;
    transition: width 500ms linear;
  }
  .contact-us-photo {
    width: 100%;
  }
  .contact-us-text {
    max-width: 100%;
    margin-bottom: 32px;
  }
  .contact-form-input {
    height: 52px;
  }
  .contact-form-textarea {
    margin-bottom: 32px;
  }
  .contact-form-textarea::placeholder {
    font-size: 16px;
  }
}
