/* =========== Page Header styles =========== */
.header-section {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}
.header-logo {
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  text-transform: lowercase;
}
.header-menu-list {
  display: none;
}
.open-menu-btn {
  min-width: 34px;
  height: 34px;
  border: none;
  border-radius: 0;
  line-height: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  color: transparent;
  stroke: #0c0c0c;
  stroke-width: 2.5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.open-menu-btn:hover,
.open-menu-btn:focus {
  background-color: transparent;
}

.open-menu-icon {
  width: 34px;
  height: 34px;
}

.header-social-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
  .header-section {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .header-logo {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 65px;
    padding-right: 65px;
  }
  .header-section {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-container {
    gap: 203px;
  }
  .open-menu-btn {
    display: none;
  }

  .header-menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .header-menu-item {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .header-menu-link {
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #0c0c0c;
  }

  .menu-link-active {
    position: relative;
  }
  .menu-link-active::after {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 15px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #3350e9;
  }
  .header-social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .header-social-item {
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-social-item:hover,
  .header-social-item:focus {
    border: 1px solid rgba(51, 80, 233, 0.1);
  }
  .header-social-icon {
    fill: #0c0c0c;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-social-icon:hover,
  .header-social-icon:focus {
    fill: #3350e9;
  }
}
/* =========== /Page Header styles =========== */
