/* burger-menu-button-styles */
.burger-spans {
  position: relative;
  z-index: 11111;
  width: 34px;
  height: 34px;
  margin: 0 auto;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.burger-spans span {
  position: absolute;
  left: 5px;
  z-index: 11111;
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: #0c0c0c;
  opacity: 1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.burger-spans span:nth-child(1) {
  top: 12px;
}
.burger-spans span:nth-child(2) {
  top: 23px;
}

.burger-spans.crossed {
  position: absolute;
  top: 20px;
  right: 20px;
}
.burger-spans.crossed span:nth-child(1) {
  top: 18px;
  background-color: #fbfbfb;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.burger-spans.crossed span:nth-child(2) {
  top: 18px;
  background: #fbfbfb;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
/* burger-menu-button-styles */

/* =========== Page Header styles =========== */
.header-section {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 74px;
}

.header-logo {
  font-size: 16px;
  color: #0c0c0c;
  text-transform: lowercase;
  align-self: center;
}
.header-menu-list,
.header-social-list {
  display: none;
}

.open-menu-btn {
  background-color: transparent;
  stroke: #0c0c0c;
}

@media only screen and (min-width: 768px) {
  .header-container {
    height: 92px;
  }
  .header-logo {
    font-size: 20px;
  }

  .burger-spans {
    width: 40px;
    height: 40px;
  }
  .burger-spans span {
    width: 30px;
  }
  .burger-spans.crossed {
    top: 26px;
    right: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .header-container {
    height: 88px;
  }
  .open-menu-btn {
    display: none;
  }
  .header-logo {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header-menu-list {
    display: flex;
    gap: 40px;
  }

  .header-menu-link {
    font-size: 14px;
    display: block;
    color: #0c0c0c;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .header-link-active {
    position: relative;
  }
  .header-link-active::after {
    content: '';
    position: absolute;
    bottom: 30px;
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #3350e9;
  }
  .header-social-list {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 10px;
  }
  .header-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-social-item {
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    width: 36px;
    height: 36px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-social-item:hover,
  .header-social-item:focus {
    border: 1px solid rgba(51, 80, 233, 0.1);
  }
  .header-social-icon {
    fill: #0c0c0c;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-social-item:hover .header-social-icon,
  .header-social-item:focus .header-social-icon {
    fill: #3350e9;
  }
}
/* =========== /Page Header styles =========== */
