.hero-title {
  margin-bottom: 20px;
  color: #0c0c0c;
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
}
.accent-color {
  color: #3350e9;
  text-align: left;
}
.hero-first {
  max-width: 335px;
  padding-top: 60px;
}
.hero-second {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.hero-third {
  max-width: 335px;
  margin-bottom: 28px;
}
.scroll-down-link {
  display: flex;
  justify-content: end;
  align-items: end;
  color: #0c0c0c;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.scroll-down-link:hover {
  color: #3350e9;
}
.hero-people {
  display: flex;
  max-width: 108px;
  height: 44px;
}
@media screen and (min-width: 768px) {
  .hero-first {
    display: flex;
    gap: 11px;
    max-width: max-content;
    margin-bottom: 40px;
    padding-top: 80px;
  }
  .scroll-down-link {
    justify-content: flex-end;
    align-items: end;
    font-size: 20px;
    line-height: 1;
  }
  .hero-second {
    flex-direction: column;
    min-width: max-content;
  }
  .hero-third {
    max-width: max-content;
  }
  .hero-title {
    max-width: 557px;
    font-size: 70px;
    letter-spacing: -0.02em;
  }
  .hero-text {
    max-width: 480px;
    font-size: 16px;
  }
  .hero-people {
    display: flex;
    max-width: 136px;
    height: 60px;
  }
  .picture {
    position: relative;
    overflow: hidden;
  }
  .picture .images {
    width: 100%;
  }
  .picture:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: calc(100% + 100px);
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 25%,
      rgba(255, 255, 255, 0) 100%
    );
    filter: blur(10px);
    transform: skewX(25deg);
    animation: slide 8s linear infinite;
  }
  @keyframes slide {
    0% {
      left: -100px;
    }
    100% {
      left: calc(100% + 100px);
    }
  }
}
@media screen and (min-width: 1280px) {
  .hero-first {
    display: flex;
    gap: 407px;
    max-width: max-content;
  }
  .hero-second {
    flex-direction: column;
    min-width: max-content;
  }
  .hero-third {
    max-width: max-content;
  }
  .hero-text {
    max-width: 480px;
    color: rgba(12, 12, 12, 0.7);
    font-size: 16px;
    line-height: 1.25;
  }
  .hero-title {
    font-size: 72px;
    max-width: 597px;
  }
  .hero-people {
    display: flex;
    max-width: 146px;
    height: 60px;
  }
  .picture:before {
    display: none;
  }
}
