.hero-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  justify-content: space-between;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
}

.accent-color {
  color: #3350e9;
  text-align: left;
}

.hero-first {
  margin-top: 60px;
  max-width: 335px;
}
.hero-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 28px;
}
.hero-third {
  max-width: 335px;
  margin-bottom: 28px;
}

.hero-text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.29;
}

.scroll-down-link {
  display: flex;
  text-decoration: underline;
  align-items: end;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.02em;

  line-height: 1;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}

.scroll-down-link:hover {
  color: #3350e9;
}

.hero-people {
  display: flex;

  max-width: 108px;
  height: 44px;
}
img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    margin-bottom: 80px;
  }

  .hero-title {
    margin-bottom: 20px;
    font-size: 70px;
    line-height: 0.85714;
    letter-spacing: -0.02em;
    max-width: 557px;
  }
  .hero-text {
    max-width: 480px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-title {
    max-width: 645px;
    display: block;
    font-size: 72px;
    line-height: 0.875;
    line-height: 63px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 20px;
  }
}
