.reviews-list {
  display: flex;
}

.reviews-list-item-one {
  width: 335px;
  height: 262px;
  padding: 32px 36px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  transition: transform 1000ms ease, box-shadow 1000ms ease;
}
.reviews-list-item-one:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}

.reviews-list-item-two {
  display: none;
}

.reviews-list-item-three {
  display: none;
}

.reviews-list-img {
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
  border-radius: 100%;
  stroke-width: 2px;
}

.reviews-list-title {
  margin-bottom: 8px;
  color: #0c0c0c;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: center;
}

.reviews-list-text {
  color: rgba(12, 12, 12, 0.4);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .reviews-list {
    gap: 16px;
  }

  .reviews-list-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
  }

  .reviews-list-text {
    color: rgba(12, 12, 12, 0.4);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .reviews-list-item-one {
    width: 344px;
    height: 272px;
  }

  .reviews-list-item-two {
    display: list-item;
    width: 344px;
    height: 272px;
    padding: 32px 36px;
  border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    background-color: #f3f3f3;
    transition: transform 1000ms ease, box-shadow 1000ms ease;
  }
  .reviews-list-item-two:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
  }
}

@media screen and (min-width: 1280px) {
  .reviews-list {
    gap: 20px;
    justify-content: center;
  }

  .reviews-list-item-one {
    width: 370px;
  }

  .reviews-list-item-two {
    width: 370px;
  }

  .reviews-list-item-three {
    display: list-item;
    width: 370px;
    height: 272px;
    padding: 32px 36px;
  border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    background-color: #f3f3f3;
    transition: transform 1000ms ease, box-shadow 1000ms ease;
  }
  .reviews-list-item-three:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
  }
}
