.sale {
  margin-top: 60px;
}
.sale-watch-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.sale-watch-wrapper-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 15px) / 3);
  width: 80px;
  height: 80px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  background: #f3f3f3;
  margin: 0 auto;
  transition: transform 1000ms ease, box-shadow 1000ms ease;
}
.sale-watch-wrapper-item:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}

.sale-watch-head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background: #f3f3f3;
  height: 385px;
}

.sale-watch-info {
  border-radius: 30px;
  height: 100%;
  background: #3350e9;
  padding: 48px 24px;
}
.sale-watch-info-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  max-width: 279px;
  margin-bottom: 10px;
}
.sale-watch-info-product-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}
.sale-watch-info-price {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.sale-watch-info-price-current {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  padding: 8px 12px;
  border-radius: 8px;
  background: rgba(251, 251, 251, 0.1);
}
.sale-watch-info-price-previous {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
  margin-left: 9px;
}
.sale-watch-info-characteristics {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  max-width: 279px;
  margin-bottom: 28px;
}

.sale-watch-advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.sale-watch-advantages-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
  width: auto;
  transition: border 1000ms ease, text-shadow 1000ms ease, transform 1000ms ease;
}
.sale-watch-advantages-item:hover {
  border: none;
  transform: scale(1.2);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 768px) {
  .sale {
    margin-top: 80px;
  }
  .sale-watch-wrapper-item {
    border-radius: 20px;
    width: 132px;
    height: 132px;
  }
  .sale-watch-head {
    width: 552px;
    height: 558px;
    margin-left: 20px;
    margin-bottom: 0;
  }
  .sale-watch-wrapper {
    flex-direction: column;
    gap: 10px;
    max-width: 132px;
    margin-bottom: 40px;
  }
  .sale-wrapper {
    display: flex;
  }

  .sale-watch-info {
    /* width: 704px; */
    padding: 60px;
  }
  .sale-watch-info-title {
    font-size: 32px;
    line-height: 1.12;
    max-width: 436px;
  }
  .sale-watch-info-price {
    margin-bottom: 30px;
  }
  .sale-watch-info-price-current {
    line-height: 0.8;
    font-size: 20px;
  }
  .sale-watch-info-characteristics {
    max-width: 584px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
  .sale-watch-advantages {
    max-width: 398px;
  }

  .sale-watch-advantages-item {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .sale {
    margin-top: 100px;
  }
  .sale-watch {
    display: flex;
  }
  .sale-wrapper {
    max-width: 580px;
  }

  .sale-watch-wrapper {
    margin-bottom: 0;
  }

  .sale-watch-head {
    width: 428px;
    height: 558px;
  }
  .sale-watch-info-title {
    max-width: 389px;
  }
  .sale-watch-info {
    margin-left: 40px;
  }
  .sale-watch-advantages-item {
    line-height: 1.15;
  }

  .sale-watch-info-characteristics {
    max-width: 410px;
  }
}
